* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #220572;
}

.popsicle {
    height: 18.75rem;
    width: 13.75rem;
    border: 1px solid #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: calc(50% - 3.25rem);
    border-radius: 7.5rem 7.5rem .9rem .9rem;
    background: repeating-linear-gradient(-30deg, #ec3893 0, #ec3893 5rem, #e9ca00 5rem, #e9ca00 10rem, #6cc258 10rem, #6cc258 15rem, #2ed3ec 15rem, #2ed3ec 20rem);
    background-size: 375rem;
    animation: move 15s infinite linear;
}

@keyframes move {
    100% {
        background-position: -312.5rem;
    }
}

.popsicle:before {
    position: absolute;
    content: "";
    height: 12.5rem;
    width: 1.25rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 1.25rem;
    top: 5rem;
    left: 1.25rem;
}

.popsicle:after {
    position: absolute;
    content: "";
    height: 7.5rem;
    width: 3.12rem;
    background: linear-gradient(#975d39 1.25rem, #d7965b 1.25rem);
    left: 5.12rem;
    top: 18.75rem;
    border-radius: 0 0 1.87rem 1.87rem;
}

.popsicle:hover {
    animation: none;
    cursor: pointer;
    box-shadow: 0rem 0rem 1.5rem 0.5rem rgb(0, 0, 0);
}